**/target/**
**/out/**
**/.idea/**
*.war
*.apk
*.jar
**/someBackUp/**
/tmp
/deployment/DockerComposeFiles/neo4j/
/deployment/DockerComposeFiles/neo4j/*
/temp

/articles/

/auxil/

HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

###local config###
/deployment/docker/metrics/
!/deployment/docker/metrics/prometheus.yml
!/deployment/docker/metrics/consul.json

/deployment/development-machine/metrics/
!/deployment/development-machine/metrics/prometheus.yml
!/deployment/development-machine/metrics/consul.json

deployment/development-machine/neo4j/

liblwjgl.dylib
libopenal.dylib
/deployment/gcp/kafka/confluent/api-key-5WDGJP7DLN5VO2SQ.txt
/deployment/gcp/vm/metrics/prometheus_db/
/deployment/gcp/vm/metrics/grafana_db/
/deployment/gcp/vm/flutter_ui/public-html/
/deployment/gcp/firebase/flutter_ui/public-html/
/api-gateway/src/main/resources/keystore.p12
