node_modules
npm-debug.log
dist
build
reports
.nyc_output
yalc.lock
.yalc
*/**/.yalc
.history
*.swp
*.iml
packages/next-l10n-crowdin
storybook-static
l10n-extracted
.crowdin-sources
.eslintcache
.vscode
tmp
*.pdf
*.code-workspace
yarn.lock
