[ req ]
prompt = no
default_bits        = 4096
distinguished_name  = subject
string_mask         = utf8only

[ subject ]
countryName             = SE
stateOrProvinceName     = localhost
localityName            = localhost
organizationName        = localhost
commonName              = Wonderland
emailAddress            = localhost@localhost
