<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        var source = new EventSource("/clicks");
        source.onmessage = function(event) {
            console.log(event.data)
            // document.getElementById("result").innerHTML += event.data + "<br>";
        };

    </script>
</head>
<body>
<div class="container">

    <div class="row">
        <div id="title">
            <h1>Spring WebFlux SSE + Thymeleaf</h1>
        </div>
        <table id="allMovies" class="table table-striped">
            <!--<thead>-->
            <!--<tr>-->
                <!--<th width="70%">Name</th>-->
                <!--<th>Score</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody>
            <tr class="result" data-th-each="event : ${events}">
                <td>[[${event}]]</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>