server.port: 9566

management:
  server.port: 9567
  health:
    defaults.enabled: true
    diskspace.enabled: false
  endpoints:
    web:
      base-path: /
      exposure.include: "*"
  endpoint:
    prometheus:
      enabled: true
    health:
      enabled: true
      show-details: never
    auditevents.enabled: false
  metrics:
    tags:
      application: ${spring.application.name}
      enable.jvm: true
      enable.jvm.gc.pause: true
      enable.jvm.memory: true
      enable.jvm.threads: true
      enable.process: true
      enable.process.files: true
      enable.http: true
      enable.http.server.requests: true
      enable.logback: true
      enable.system: true
    export:
      prometheus:
        enabled: true

spring:
  application:
    name: message-publisher
  config:
    import: optional:consul:localhost:8500
  cloud:
    consul:
      discovery:
        prefer-ip-address: true
        health-check-path: /health
  kafka:
    bootstrap-servers: "localhost:9092"
    producer:
      key-serializer: org.springframework.kafka.support.serializer.StringOrBytesSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    #      properties:
    #        - spring.json.type.mapping: WonderSeekerLocationUpdate:statefull.geofencing.faas.common.dto.WonderSeekerLocationUpdate
    consumer:
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
    retries: 3
    acks: all


rabbitmq:
    password: guest
    username: guest
    host: rabbitmq
    port: 5672


kafka:
  topic:
    config:
      event: '6:3'
      update: '6:3'
      changelog: '3:2'
      messageEvents: '3:2'

---
spring:
  config:
    activate:
      on-profile: confluent

  kafka:
    bootstrap-servers: "pkc-l7q2j.europe-north1.gcp.confluent.cloud:9092"
    properties:
      sasl:
        mechanism: PLAIN
        jaas.config: "org.apache.kafka.common.security.plain.PlainLoginModule   required username='5WDGJP7DLN5VO2SQ'   password='3iRgkgd3EP4mO1ZnLbaE8F85W68spkQPrvsvf4w8ubTnRkr8r9bgNlXrcRnHcgdZ';"
      security.protocol: SASL_SSL
      session.timeout.ms: 45000
      basic:
        auth:
          credentials:
            source: USER_INFO
          user.info: "5WDGJP7DLN5VO2SQ:3iRgkgd3EP4mO1ZnLbaE8F85W68spkQPrvsvf4w8ubTnRkr8r9bgNlXrcRnHcgdZ"

---
spring:
  config:
    activate:
      on-profile: local


rabbitmq:
  password: guest
  username: guest
  host: localhost
  port: 5672

kafka:
  topic:
    config:
      event: '1:1'
      changelog: '1:1'
      messageEvents: '1:1'

---
spring:
  config:
    activate:
      on-profile: no-consul
  application:
    name: message-publisher

kafka:
  topic:
    config:
      event: '1:1'
      changelog: '1:1'
      messageEvents: '1:1'

