name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

#permissions:
#  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

#    - name: purge-cache
#      uses: MyAlbum/purge-cache@v1
#      with:
#        token: '${{ secrets.GITHUB_TOKEN }}'
#        debug: true

    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: '19'
        distribution: 'corretto'

    - name: Build api-gateway
      working-directory: ./api-gateway
      run: ./gradlew clean build
